Benjamin Lorenz <lorenz@math.tu-berlin.de> <benlorenz@users.noreply.github.com>
Lars Göttgens <lars.goettgens@rwth-aachen.de> <lars.goettgens@gmail.com>
Markus Pfeiffer <markus.pfeiffer@morphism.de> <markuspf@users.noreply.github.com>
Mohamed Barakat <mohamed.barakat@uni-siegen.de> <mohamed.barakat@rwth-aachen.de>
Sebastian Gutsche <gutsche@mathematik.uni-siegen.de> <gutsche@momo.math.rwth-aachen.de>
Thomas Breuer <sam@math.rwth-aachen.de>
