language: julia
julia:
  - 1.1
  - nightly

env:
  global:
    - MAKEFLAGS="-j4"
    - JULIA_TRACK_COVERAGE=yes
    - CFLAGS=--coverage
    - LDFLAGS=--coverage
  matrix:
    - GAP=$HOME/.julia/gap.sh
      GAP_INSTALL_PACKAGES=debug
    - GAPROOT=$TRAVIS_BUILD_DIR/gap
      GAP=$TRAVIS_BUILD_DIR/gap/gap

cache:
    directories:
     - /home/travis/.julia/

addons:
  apt_packages:
    - libgmp-dev
    - libreadline-dev
    - zlib1g-dev

branches:
  only:
    - master

before_script:
  - unset JULIA_PROJECT
  - printenv | sort
  - git show --pretty=fuller -s
  - mkdir -p coverage
  - if test -n "$GAPROOT" ; then etc/travis_install_gap.sh; fi
    ## Add the package so we can use it later
  - julia -e 'import Pkg ; Pkg.add(Pkg.PackageSpec(url=pwd()))'
  - julia -e 'import Pkg ; Pkg.add("Nemo")'
  - if test -n "$GAPROOT" ; then etc/travis_build.sh; fi

script:
  - etc/travis_test.sh
    # delete coverage files for packages, so that they do not get cached
  - find $HOME/.julia/packages/ -name "*.jl.*.cov" -exec rm -f {} \;

after_script:
  - cd $TRAVIS_BUILD_DIR
  - $GAP -A --quitonbreak --norepl etc/gather_coverage.g
  - julia etc/gather_coverage.jl
  - bash <(curl -s https://codecov.io/bash)
