/doc/chap*.html
/doc/chap*.txt
/doc/*.css
/doc/*.js
/doc/chooser.html
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.lab
/doc/*.log
/doc/*.out
/doc/*.pnr
/doc/*.six
/doc/*.tex
/doc/*.toc
/doc/manual.pdf

.deps/
.dirstamp
.libs/

/bin/
/cnf
/config.log
/config.status
/Makefile

*.la
src/*.lo


/doc/*.xml


/maketest.g
/test-suite.log
/tst/run-tap.log
/tst/run-tap.trs

/gen/*

/tmp/
/misc
TODO
