name: CI with GAP

on:
  push:
    branches:
      - 'master'
      - 'release-*'
    tags: '*'
  pull_request:
  schedule:
      # Every day at 3:08 AM UTC
      - cron: '8 3 * * *'
  workflow_dispatch:

concurrency:
  # group by workflow and ref; the last slightly strange component ensures that for pull
  # requests, we limit to 1 concurrent job, but for the default repository branch we don't
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.ref_name != github.event.repository.default_branch || github.run_number }}
  # Cancel intermediate builds, but only if it is a pull request build.
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    name: Julia ${{ matrix.julia-version }} - GAP ${{ matrix.gap-version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    continue-on-error: ${{ matrix.julia-version == 'nightly' }}
    strategy:
      fail-fast: false
      matrix:
        gap-version:
          - 'master'
          - 'stable-4.15'
        julia-version:
          - '1'         # latest stable release
          - '1.13-nightly'
          - 'nightly'
        os:
          - ubuntu-latest
        include:
          # Add a few macOS jobs (the number we can run in parallel is limited)
          - gap-version: 'master'
            julia-version: '1'
            os: macOS-latest
          - gap-version: 'stable-4.15'
            julia-version: '1'
            os: macOS-latest

    steps:
      - uses: actions/checkout@v6
      - name: "Set up Julia"
        uses: julia-actions/setup-julia@v2
        id: setup-julia
        with:
          version: ${{ matrix.julia-version }}
      - name: Checkout GAP
        uses: actions/checkout@v6
        with:
          repository: 'gap-system/gap'
          ref: ${{ matrix.gap-version }}
          path: 'GAPROOT'
      - name: Patch GAP
        run: |
          patchdir=.github/workflows/GAP_patches/${{ matrix.gap-version }}
          if [ -d $patchdir ]; then
            for f in $patchdir/*.patch; do
              echo "Applying path ${f}"
              patch -p1 -d GAPROOT < ${f}
            done
          fi
      - name: "Install dependencies (for macOS)"
        if: runner.os == 'macOS'
        run: |
          brew install autoconf zlib # gmp pkg-config
      - name: "Build GAP"
        run: |
          mv GAPROOT /tmp/GAPROOT
          cd /tmp/GAPROOT
          ./autogen.sh
          ./configure --enable-Werror
          make -j`nproc`
      - name: "Override bundled GAP"
        run: |
          julia --proj=override etc/setup_override_dir.jl /tmp/GAPROOT /tmp/gap_jll_override --enable-Werror
      - name: "Run tests"
        run: |
           julia --proj=override etc/run_with_override.jl /tmp/gap_jll_override --depwarn=error -e "using Pkg; Pkg.test(\"GAP\")"

